.meme-editor{
    /* display:flex; */
    height: 80vh;
    gap: 20px;
    padding:20px;
    margin-inline-end: 40px;
    margin-inline-start: 40px;
}


.buttons-container {
    flex-basis: 50%;
    border: solid yellow 4px

}